.bannerGradient {
  height: 639.9px;
  width: 1440px;
  position: relative;
  background: linear-gradient(78.78deg, #114f8b 5.2%, #2a9ad7);
  display: none;
  max-width: 100%;
  z-index: 0;
}
.bannerBackground {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: -0.4px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.findTheBest,
.letsExplore {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-weight: 400;
}
.letsExplore {
  font-size: inherit;
  line-height: 67px;
  font-family: inherit;
}
.findTheBest {
  font-size: var(--font-size-5xl);
  line-height: 32px;
  font-family: var(--components-button-large);
}
.letsExploreTravelTheWorParent {
  width: 1160px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  max-width: 100%;
}
.searchFlights {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xl);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-family: var(--components-button-large);
  color: var(--color-darkslategray-300);
  text-align: left;
}
.searchFlightsWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs-5) 0 0;
  box-sizing: border-box;
  min-width: 577px;
  max-width: 100%;
}
.radiobuttonunchecked {
  cursor: pointer;
  margin: 0;
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.padding {
  height: 38px;
  width: 38px;
  border-radius: var(--br-lgi);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-4xs);
  box-sizing: border-box;
}
.label {
  position: relative;
  font-size: var(--components-input-text-size);
  letter-spacing: 0.15px;
  line-height: 150%;
  font-family: var(--components-button-large);
  color: var(--color-darkslategray-400);
  text-align: left;
  display: inline-block;
  min-width: 48px;
}
.labelWrapper,
.paddingParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.labelWrapper {
  flex-direction: column;
  padding: var(--padding-6xs) 0 0;
}
.paddingParent {
  flex-direction: row;
}
.radiobuttonchecked {
  border-color: var(--color-cornflowerblue-300);
  accent-color: #1262ae;
  cursor: pointer;
  margin: 0;
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.padding1 {
  height: 38px;
  width: 38px;
  border-radius: var(--br-lgi);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-4xs);
  box-sizing: border-box;
}
.label1 {
  position: relative;
  font-size: var(--components-input-text-size);
  letter-spacing: 0.15px;
  line-height: 150%;
  font-family: var(--components-button-large);
  color: var(--color-darkslategray-400);
  text-align: left;
  display: inline-block;
  min-width: 72.5px;
}
.labelContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 0;
}
.frameGroup,
.frameParent,
.paddingGroup,
.searchFormInner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameGroup {
  gap: var(--gap-xl);
}
.frameParent,
.searchFormInner {
  max-width: 100%;
}
.frameParent {
  flex: 1;
  flex-wrap: wrap;
  gap: var(--gap-8xs);
}
.searchFormInner {
  align-self: stretch;
  padding: 0 var(--padding-8xs);
  box-sizing: border-box;
}
.departure {
  position: relative;
  font-size: var(--typography-caption-size);
  letter-spacing: 0.15px;
  line-height: 12px;
  font-family: var(--components-button-large);
  color: var(--text-secondary);
  text-align: left;
  display: inline-block;
  min-width: 55px;
}
.labelContainer1 {
  height: 2px;
  background-color: var(--primary-contrast);
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-10xs);
  box-sizing: border-box;
}
.active,
.departureField,
.input,
.labelContainer1 {
  display: flex;
  justify-content: flex-start;
}
.active {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  align-self: stretch;
  height: 54px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-mini) 0;
  box-sizing: border-box;
  font-family: var(--components-button-large);
  font-size: var(--components-input-text-size);
  color: var(--text-primary);
  min-width: 169px;
}
.departureField,
.input {
  flex-direction: column;
  align-items: flex-start;
}
.input {
  align-self: stretch;
  border-radius: var(--br-9xs);
  border: 1px solid var(--other-outlined-border);
  padding: 0 var(--padding-2xs);
}
.departureField {
  flex: 1;
  min-width: 229px;
}
.arrival {
  position: relative;
  font-size: var(--typography-caption-size);
  letter-spacing: 0.15px;
  line-height: 12px;
  font-family: var(--components-button-large);
  color: var(--text-secondary);
  text-align: left;
  display: inline-block;
  min-width: 36px;
}
.labelContainer2 {
  width: 43px;
  height: 2px;
  background-color: var(--primary-contrast);
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-10xs);
  box-sizing: border-box;
}
.active1,
.arrivalField,
.input1,
.labelContainer2 {
  display: flex;
  justify-content: flex-start;
}
.active1 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  align-self: stretch;
  height: 54px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-mini) 0;
  box-sizing: border-box;
  font-family: var(--components-button-large);
  font-size: var(--components-input-text-size);
  color: var(--text-primary);
  min-width: 169px;
}
.arrivalField,
.input1 {
  flex-direction: column;
  align-items: flex-start;
}
.input1 {
  align-self: stretch;
  border-radius: var(--br-9xs);
  border: 1px solid var(--other-outlined-border);
  padding: 0 var(--padding-2xs);
}
.arrivalField {
  flex: 1;
  min-width: 229px;
}
.date {
  position: relative;
  font-size: var(--typography-caption-size);
  letter-spacing: 0.15px;
  line-height: 12px;
  font-family: var(--components-button-large);
  color: var(--text-secondary);
  text-align: left;
  display: inline-block;
  min-width: 26px;
}
.labelContainer3 {
  height: 2px;
  background-color: var(--primary-contrast);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
}
.avatar,
.op {
  align-items: center;
  justify-content: center;
}
.op {
  height: 24px;
  flex: 1;
  position: relative;
  font-size: var(--typography-caption-size);
  letter-spacing: 0.4px;
  line-height: 166%;
  font-family: var(--components-button-large);
  color: var(--grey-grey-700);
  text-align: center;
  display: flex;
}
.avatar {
  width: 24px;
  border-radius: var(--br-45xl);
  background-color: var(--grey-grey-400);
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  flex-direction: row;
}
.chip1 {
  align-self: stretch;
  height: 18px;
  position: relative;
  font-size: var(--components-chip-size);
  letter-spacing: 0.16px;
  line-height: 18px;
  font-family: var(--components-button-large);
  color: var(--text-primary);
  text-align: left;
  display: inline-block;
}
.typography {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-7xs);
}
.cancelIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.chip,
.container {
  display: flex;
  justify-content: flex-start;
}
.container {
  width: 71px;
  border-radius: var(--br-base);
  background-color: var(--grey-grey-300);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-9xs);
  box-sizing: border-box;
}
.chip {
  flex-direction: column;
  align-items: flex-start;
}
.avatar1,
.op1 {
  align-items: center;
  justify-content: center;
}
.op1 {
  height: 24px;
  flex: 1;
  position: relative;
  font-size: var(--typography-caption-size);
  letter-spacing: 0.4px;
  line-height: 166%;
  font-family: var(--components-button-large);
  color: var(--grey-grey-700);
  text-align: center;
  display: flex;
}
.avatar1 {
  width: 24px;
  border-radius: var(--br-45xl);
  background-color: var(--grey-grey-400);
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  flex-direction: row;
}
.chip3 {
  align-self: stretch;
  height: 18px;
  position: relative;
  font-size: var(--components-chip-size);
  letter-spacing: 0.16px;
  line-height: 18px;
  font-family: var(--components-button-large);
  color: var(--text-primary);
  text-align: left;
  display: inline-block;
}
.typography1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-7xs);
}
.cancelIcon1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.container1 {
  width: 71px;
  border-radius: var(--br-base);
  background-color: var(--grey-grey-300);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-9xs);
  box-sizing: border-box;
}
.chip2,
.muiautocompletetag {
  align-items: flex-start;
  justify-content: flex-start;
}
.chip2 {
  display: flex;
  flex-direction: column;
}
.muiautocompletetag {
  display: none;
  flex-direction: row;
  gap: var(--gap-5xs);
}
.dateIcon,
.input3 {
  height: 24px;
  position: relative;
}
.input3 {
  width: calc(100% - 24px);
  border: 0;
  outline: 0;
  font-family: var(--components-button-large);
  font-size: var(--components-input-text-size);
  background-color: transparent;
  flex: 1;
  letter-spacing: 0.15px;
  line-height: 24px;
  color: var(--text-primary);
  text-align: left;
  display: flex;
  align-items: center;
  min-width: calc(100% - 32px);
  padding: 0;
}
.dateIcon {
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.active2 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mini) 0;
  gap: var(--gap-5xs);
}
.input2,
.inputsRow,
.selectoutlined {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.input2 {
  align-self: stretch;
  border-radius: var(--br-9xs);
  border: 1px solid var(--other-outlined-border);
  flex-direction: column;
  padding: 0 var(--padding-2xs);
}
.inputsRow,
.selectoutlined {
  flex: 1;
}
.selectoutlined {
  flex-direction: column;
  min-width: 229px;
}
.inputsRow {
  flex-direction: row;
  padding: var(--padding-8xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  max-width: 100%;
}
.button {
  align-self: stretch;
  position: relative;
  font-size: var(--components-button-large-size);
  letter-spacing: 0.46px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--components-button-large);
  color: var(--primary-contrast);
  text-align: center;
}
.buttonGroup,
.searchFlightsButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.searchFlightsButton {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-4xs-5);
  background-color: var(--color-orange-200);
  align-self: stretch;
  border-radius: var(--br-9xs);
  overflow: hidden;
  white-space: nowrap;
}
.searchFlightsButton:hover {
  background-color: var(--color-chocolate);
}
.buttonGroup {
  width: 174px;
  padding: var(--padding-8xs);
  box-sizing: border-box;
}
.formInputsRow {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  row-gap: 20px;
}
.searchForm {
  margin: 0;
  width: 1160px;
  border-radius: var(--br-3xs);
  background-color: var(--primary-contrast);
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-6xl) var(--padding-xl) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-4xs);
}
.searchContainer,
.searchForm,
.searchSection,
.topHeaderParent {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.searchContainer {
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-148xl-5) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-24xl);
  z-index: 2;
}
.searchSection,
.topHeaderParent {
  align-self: stretch;
  align-items: flex-start;
}
.searchSection {
  background: linear-gradient(78.78deg, #114f8b 5.2%, #2a9ad7);
  flex-direction: row;
  position: relative;
}
.topHeaderParent {
  flex-direction: column;
  text-align: center;
  font-size: var(--font-size-42xl);
  color: var(--primary-contrast);
  font-family: var(--font-baloo-bhai);
}
@media screen and (max-width: 1000px) {
  .letsExplore {
    font-size: var(--font-size-30xl);
    line-height: 54px;
  }
  .active,
  .active1 {
    min-width: 100%;
  }
  .inputsRow {
    flex-wrap: wrap;
    flex: unset;
    align-self: stretch;
  }
  .searchFlightsButton {
    text-align: center;
    min-width: 164;
  }
  .buttonGroup,
  .searchFlightsButton {
    align-self: stretch;
    width: auto;
  }
  .formInputsRow {
    flex-direction: column;
  }
}
@media screen and (max-width: 725px) {
  .inputsRow,
  .searchFlightsWrapper {
    min-width: 100%;
  }
  .searchContainer {
    gap: 21px 43px;
    padding-top: var(--padding-90xl);
    padding-bottom: var(--padding-90xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 560px) {
  .inputsRow,
  .searchFlightsWrapper {
    min-width: 100%;
  }
  .searchContainer {
    gap: 21px 43px;
    padding-top: var(--padding-90xl);
    padding-bottom: var(--padding-90xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .letsExplore {
    font-size: var(--font-size-18xl);
    line-height: 40px;
  }
  .findTheBest {
    font-size: var(--font-size-lgi);
    line-height: 26px;
  }
  .searchFlights {
    font-size: var(--components-input-text-size);
  }
}
