.departure {
  position: relative;
  letter-spacing: 0.15px;
  line-height: 12px;
  display: inline-block;
  min-width: 55px;
}
.labelContainer {
  height: 2px;
  background-color: var(--primary-contrast);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs);
  box-sizing: border-box;
}
.active,
.input {
  align-self: stretch;
  justify-content: flex-start;
}
.active {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 54px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-mini) 0;
  box-sizing: border-box;
  font-family: var(--components-button-large);
  font-size: var(--components-input-text-size);
  color: var(--text-primary);
  min-width: 193px;
}
.input {
  border-radius: var(--br-9xs);
  border: 1px solid var(--other-outlined-border);
  align-items: flex-start;
  padding: 0 var(--padding-2xs);
}
.departureField,
.input,
.inputGroup {
  display: flex;
  flex-direction: column;
}
.departureField {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
}
.inputGroup {
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs);
  box-sizing: border-box;
  min-width: 266px;
  max-width: 100%;
  text-align: left;
  font-size: var(--typography-caption-size);
  color: var(--text-secondary);
  font-family: var(--components-button-large);
}
@media screen and (max-width: 1050px) {
  .active {
    min-width: 100%;
  }
}
