.newsletterSectionBackground {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: -1px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.formTitle,
.formTitleSubtext {
  align-self: stretch;
  position: relative;
}
.formTitleSubtext {
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.formTitle {
  margin: 0;
  font-size: var(--font-size-11xl);
  font-weight: 700;
  font-family: inherit;
  color: var(--color-darkslategray-100);
}
.formHeader {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.fillInYour {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 34px;
  font-family: var(--components-button-large);
  color: var(--color-slategray);
  text-align: left;
}
.formText {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.avatar,
.op {
  align-items: center;
  justify-content: center;
}
.op {
  height: 24px;
  flex: 1;
  position: relative;
  font-size: var(--typography-caption-size);
  letter-spacing: 0.4px;
  line-height: 166%;
  font-family: var(--components-button-large);
  color: var(--grey-grey-700);
  text-align: center;
  display: flex;
}
.avatar {
  width: 24px;
  border-radius: var(--br-45xl);
  background-color: var(--grey-grey-400);
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  flex-direction: row;
}
.chip1 {
  align-self: stretch;
  height: 18px;
  position: relative;
  font-size: var(--components-chip-size);
  letter-spacing: 0.16px;
  line-height: 18px;
  font-family: var(--components-button-large);
  color: var(--text-primary);
  text-align: left;
  display: inline-block;
}
.typography {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-7xs);
}
.cancelIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.chip,
.container {
  display: flex;
  justify-content: flex-start;
}
.container {
  width: 71px;
  border-radius: var(--br-base);
  background-color: var(--grey-grey-300);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-9xs);
  box-sizing: border-box;
}
.chip {
  flex-direction: column;
  align-items: flex-start;
}
.avatar1,
.op1 {
  align-items: center;
  justify-content: center;
}
.op1 {
  height: 24px;
  flex: 1;
  position: relative;
  font-size: var(--typography-caption-size);
  letter-spacing: 0.4px;
  line-height: 166%;
  font-family: var(--components-button-large);
  color: var(--grey-grey-700);
  text-align: center;
  display: flex;
}
.avatar1 {
  width: 24px;
  border-radius: var(--br-45xl);
  background-color: var(--grey-grey-400);
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  flex-direction: row;
}
.chip3 {
  align-self: stretch;
  height: 18px;
  position: relative;
  font-size: var(--components-chip-size);
  letter-spacing: 0.16px;
  line-height: 18px;
  font-family: var(--components-button-large);
  color: var(--text-primary);
  text-align: left;
  display: inline-block;
}
.typography1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-7xs);
}
.cancelIcon1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.container1 {
  width: 71px;
  border-radius: var(--br-base);
  background-color: var(--grey-grey-300);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-9xs);
  box-sizing: border-box;
}
.chip2,
.muiautocompletetag {
  align-items: flex-start;
  justify-content: flex-start;
}
.chip2 {
  display: flex;
  flex-direction: column;
}
.muiautocompletetag {
  display: none;
  flex-direction: row;
  gap: var(--gap-5xs);
}
.yourName {
  width: calc(100% - 24px);
  border: 0;
  outline: 0;
  font-family: var(--components-button-large);
  font-size: var(--components-input-text-size);
  background-color: transparent;
  height: 24px;
  flex: 1;
  position: relative;
  letter-spacing: 0.15px;
  line-height: 24px;
  color: var(--text-secondary);
  text-align: left;
  display: flex;
  align-items: center;
  min-width: 255px;
  max-width: 100%;
  padding: 0;
}
.closeIcon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.iconbutton,
.unstylediconbutton {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.unstylediconbutton {
  width: 28px;
  height: 28px;
  border-radius: var(--br-29xl);
  flex-direction: row;
  padding: var(--padding-9xs);
  box-sizing: border-box;
}
.iconbutton {
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.muiAutocompleteIndicator {
  height: 28px;
  width: 28px;
  position: relative;
  display: none;
}
.arrowdropdownIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.arrow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.inactive,
.input {
  box-sizing: border-box;
}
.inactive {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-base) 0;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.input {
  border-radius: var(--br-9xs);
  border: 1px solid var(--other-outlined-border);
  padding: 0 var(--padding-2xs);
}
.destinationNameInput,
.input {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.avatar2,
.op2 {
  align-items: center;
  justify-content: center;
}
.op2 {
  height: 24px;
  flex: 1;
  position: relative;
  font-size: var(--typography-caption-size);
  letter-spacing: 0.4px;
  line-height: 166%;
  font-family: var(--components-button-large);
  color: var(--grey-grey-700);
  text-align: center;
  display: flex;
}
.avatar2 {
  width: 24px;
  border-radius: var(--br-45xl);
  background-color: var(--grey-grey-400);
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  flex-direction: row;
}
.chip5 {
  align-self: stretch;
  height: 18px;
  position: relative;
  font-size: var(--components-chip-size);
  letter-spacing: 0.16px;
  line-height: 18px;
  font-family: var(--components-button-large);
  color: var(--text-primary);
  text-align: left;
  display: inline-block;
}
.typography2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-7xs);
}
.cancelIcon2 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.chip4,
.container2 {
  display: flex;
  justify-content: flex-start;
}
.container2 {
  width: 71px;
  border-radius: var(--br-base);
  background-color: var(--grey-grey-300);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-9xs);
  box-sizing: border-box;
}
.chip4 {
  flex-direction: column;
  align-items: flex-start;
}
.avatar3,
.op3 {
  align-items: center;
  justify-content: center;
}
.op3 {
  height: 24px;
  flex: 1;
  position: relative;
  font-size: var(--typography-caption-size);
  letter-spacing: 0.4px;
  line-height: 166%;
  font-family: var(--components-button-large);
  color: var(--grey-grey-700);
  text-align: center;
  display: flex;
}
.avatar3 {
  width: 24px;
  border-radius: var(--br-45xl);
  background-color: var(--grey-grey-400);
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  flex-direction: row;
}
.chip7 {
  align-self: stretch;
  height: 18px;
  position: relative;
  font-size: var(--components-chip-size);
  letter-spacing: 0.16px;
  line-height: 18px;
  font-family: var(--components-button-large);
  color: var(--text-primary);
  text-align: left;
  display: inline-block;
}
.typography3 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-7xs);
}
.cancelIcon3 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.container3 {
  width: 71px;
  border-radius: var(--br-base);
  background-color: var(--grey-grey-300);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-9xs);
  box-sizing: border-box;
}
.chip6,
.muiautocompletetag1 {
  align-items: flex-start;
  justify-content: flex-start;
}
.chip6 {
  display: flex;
  flex-direction: column;
}
.muiautocompletetag1 {
  display: none;
  flex-direction: row;
  gap: var(--gap-5xs);
}
.emailAddress {
  width: calc(100% - 24px);
  border: 0;
  outline: 0;
  font-family: var(--components-button-large);
  font-size: var(--components-input-text-size);
  background-color: transparent;
  height: 24px;
  flex: 1;
  position: relative;
  letter-spacing: 0.15px;
  line-height: 24px;
  color: var(--text-secondary);
  text-align: left;
  display: flex;
  align-items: center;
  min-width: 255px;
  max-width: 100%;
  padding: 0;
}
.closeIcon1 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.iconbutton1,
.unstylediconbutton1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.unstylediconbutton1 {
  width: 28px;
  height: 28px;
  border-radius: var(--br-29xl);
  flex-direction: row;
  padding: var(--padding-9xs);
  box-sizing: border-box;
}
.iconbutton1 {
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.muiAutocompleteIndicator1 {
  height: 28px;
  width: 28px;
  position: relative;
  display: none;
}
.arrowdropdownIcon1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.arrow1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.inactive1,
.input1 {
  box-sizing: border-box;
}
.inactive1 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-base) 0;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.input1 {
  border-radius: var(--br-9xs);
  border: 1px solid var(--other-outlined-border);
  padding: 0 var(--padding-2xs);
}
.formFields,
.input1,
.nameInput {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.formFields {
  gap: var(--gap-3xs);
}
.button1 {
  position: relative;
  font-size: var(--components-button-large-size);
  letter-spacing: 0.46px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--components-button-large);
  color: var(--primary-contrast);
  text-align: left;
  display: inline-block;
  min-width: 58px;
}
.unstyledbutton {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-xl) var(--padding-5xs)
    var(--padding-2xl);
}
.button,
.form,
.unstyledbutton {
  flex-direction: column;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-6xs) var(--padding-12xl-5);
  background-color: var(--color-orange-200);
  border-radius: var(--br-9xs);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button:hover {
  background-color: var(--color-darkorange);
}
.form {
  margin: 0;
  align-self: stretch;
  border-radius: var(--br-xs);
  background-color: var(--primary-contrast);
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.03);
  border: 1px solid var(--color-whitesmoke-200);
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xl) var(--padding-10xl);
  gap: var(--gap-mid);
}
.form,
.newsletterFormSection,
.subscribeForm {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.subscribeForm {
  width: 549px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl);
  gap: var(--gap-11xl);
  z-index: 1;
}
.newsletterFormSection {
  align-self: stretch;
  background-color: var(--color-aliceblue);
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-33xl) 0 var(--padding-23xl);
  position: relative;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-cornflowerblue-300);
  font-family: var(--components-button-large);
}
@media screen and (max-width: 1050px) {
  .formTitle {
    font-size: var(--font-size-5xl);
  }
}
@media screen and (max-width: 750px) {
  .newsletterFormSection {
    padding-top: var(--padding-15xl);
    padding-bottom: var(--padding-8xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .formTitle {
    font-size: var(--font-size-lg);
  }
}
